/*
██████   █████  ███████ ██  ██████
██   ██ ██   ██ ██      ██ ██
██████  ███████ ███████ ██ ██
██   ██ ██   ██      ██ ██ ██
██████  ██   ██ ███████ ██  ██████
*/

html, body { font-size: 100%; }
body {
	background: #efefef; color: #222222;
	display: grid;
	grid-template-columns: 15em auto;
	grid-template-rows: auto auto;
	grid-template-areas: "navigation content"
		"navigation footer";
	
    font-family: sans-serif;
}

nav {
	grid-area: navigation;
	display: flex;
	flex-direction: column;
	
	padding: 0.5em;
}
main {
	grid-area: content; min-height: 75vh;
	padding: 0.5em;
}

h1 { text-align: center; }
img { max-width: 100%; }

blockquote {
	position: relative;
	margin: 0;
	padding: 0.1em 1em;
	border-left: 3px solid rgba(201, 201, 201, 1);
	border-radius: 0.2em;
}

.logo-small {
	max-width: 1.25em; max-height: 1.25em;
	vertical-align: middle;
}


/********************** Navigation **********************/
.logo {
	align-self: center;
	text-align: center;
	max-width: 90%;
	box-sizing: border-box;
	
	padding: 0 0.5em 0.5em 0.5em;
	
}
nav h1 { margin-top: 0; }
nav ul {
	list-style-type: none;
	margin: 0 1.25em; padding: 0;
}
nav ul li {
	padding: 0.25em 0;
}
nav a {
	color: rgba(25, 25, 25, 0.75);
	transition: color 0.25s;
}
nav a:hover { color: rgba(25, 25, 25, 0.9); }
nav a:active { color: rgba(25, 25, 25, 1); }
/*********************************************************/

footer {
	grid-area: footer;
	margin-top: 1em;
	border-top: 0.25em solid rgba(201, 201, 201, 1);
}
