<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name="generator" content="{{package.name}} {{package.version}}" />
		<meta name="last-updated" content="{{build_date}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<meta name="og:type" content="website" />
		<meta name="og:image" content="{{logo_src}}" />
		<meta name="og:image:url" content="{{logo_src}}" />
		<meta name="og:image:secure_url" content="{{logo_src}}" />
		<meta name="twitter:image" content="{{logo_src}}" />
		<meta name="theme-color" content="#eca537" />
		<title>{{project_name}}</title>
	</head>
	<body>
		<nav>
			<img class="logo" src="{{logo_src}}" />
			{navigation}
		</nav>
		
		<main>
			{content}
		</main>
		
		<footer>
			<p>Last updated {{build_date}}</p>
			<p>Powered by <img class="logo-small" src="https://gitlab.com/sbrl/nightdocs/raw/master/logo.png" /> <a href="https://gitlab.com/sbrl/nightdocs">NightDocs</a>, which was written by <a href="https://starbeamrainbowlabs.com/">Starbeamrainbowlabs</a>.</p>
		</footer>
		
		<!---------------->
		<link rel="stylesheet" href="nightdocs.css" />
	</body>
</html>
