/*
███    ██ ██  ██████  ██   ██ ████████ ██████   ██████   ██████ ███████
████   ██ ██ ██       ██   ██    ██    ██   ██ ██    ██ ██      ██
██ ██  ██ ██ ██   ███ ███████    ██    ██   ██ ██    ██ ██      ███████
██  ██ ██ ██ ██    ██ ██   ██    ██    ██   ██ ██    ██ ██           ██
██   ████ ██  ██████  ██   ██    ██    ██████   ██████   ██████ ███████
*/


html, body { font-size: 100%; }
body {
	background: #1f182e; color: #f1c888;
	display: grid;
	grid-template-columns: 15em auto;
	grid-template-rows: auto auto;
	grid-template-areas: "navigation content"
		"navigation footer";
	
    font-family: sans-serif;
}

nav {
	grid-area: navigation;
	display: flex;
	flex-direction: column;
	
	padding: 0.5em;
}
main {
	grid-area: content; min-height: 75vh;
	padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 { color: #eca537; }
h1 { text-align: center; }
img { max-width: 100%; }

blockquote {
	position: relative;
	margin: 0;
	padding: 0.1em 1em;
	border-left: 3px solid #eca537;
	border-radius: 0.2em;
}

pre {
	padding: 0.5em;
	
	white-space: pre-wrap;
}
pre, :not(pre) > code {
	background: hsla(259, 31%, 28%, 0.76);
	border-radius: 0.25em;
}

.logo-small {
	max-width: 1.25em; max-height: 1.25em;
	vertical-align: middle;
}

/********************** Navigation **********************/
.logo {
	align-self: center;
	text-align: center;
	max-width: 90%;
	box-sizing: border-box;
	
	padding: 0 0.5em 0.5em 0.5em;
	
}
nav h1 { margin-top: 0; }
nav ul {
	list-style-type: none;
	margin: 0 1.25em; padding: 0;
}
nav ul li {
	padding: 0.25em 0;
}
a, a:visited {
	color: hsla(30, 87%, 53%, 0.8);
	transition: color 0.25s;
}
a:hover { color: hsla(30, 87%, 53%, 0.9); }
a:active { color: hsl(30, 87%, 53%); }
/*********************************************************/

footer {
	grid-area: footer;
	margin-top: 1em;
	border-top: 0.25em solid #eca537;
}
